{% extends 'base.html' %}
{% block body %}
    {% include 'header.html' %}

    <div class="container px-4 py-5" id="featured-3">
        <div class="row g-2 py-2 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <h3 class="fs-2">Contact</h3>
                <ul>
                    <li>github: https://github.com/anddp12</li>
                    <li>email: anddp12@gmail.com</li>
                    <li>mobile: +38(050)420-65-53</li>
                    <li>telegram: https://t.me/ataran12</li>
                </ul>
            </div>

        </div>
    </div>


    {% include 'footer.html' %}
{% endblock %}