{% extends 'base.html' %}
{% block body %}
    {% include 'header.html' %}

    <main>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 text-center">
            <div class="bg-light p-5 rounded mt-3">
                <h1>Temperature</h1>
                <p class="lead">current</p>
                <p class="lead">average for the period</p>
                <a class="btn btn-lg btn-primary"
                   href="/temperature"
                   role="button">View »</a>
            </div>
            <div class="bg-light p-5 rounded mt-3">
                <h1>Humidity</h1>
                <p class="lead">current</p>
                <p class="lead">average for the period</p>
                <a class="btn btn-lg btn-primary"
                   href="/humidity"
                   role="button">View »</a>
            </div>
            <div class="bg-light p-5 rounded mt-3">
                <h1>Meter</h1>
                <p class="lead">electricity</p>
                <p class="lead">gas</p>
                <p class="lead">water</p>
                <a class="btn btn-lg btn-primary"
                   href="/meter" role="button">View »</a>
            </div>
            <div class="bg-light p-5 rounded mt-3">
                <h1>Boiler</h1>
                <p class="lead">condition</p>
                <p class="lead">temperature</p>
                <p class="lead">pressure</p>
                <a class="btn btn-lg btn-primary"
                   href="/boiler"
                   role="button">View »</a>
            </div>
        </div>

        {#  <div>
            <img src="https://cdn.pixabay.com/photo/2019/02/11/02/05/smart-home-3988583_1280.jpg"
                 class="d-block w-100 h-50" alt="...">
        </div>#}

    </main>

    {% include 'footer.html' %}
{% endblock %}