{% extends 'base.html' %}
{% block body %}
    {% include 'header.html' %}

    <main>
        <div class="container container-md text-center" style="margin:80px">
            <div class="row">
                <div class="col-md-12 bg-success">Temperature</div>
            </div>
            <div class="row">
                <div class="col-md-12 bg-info">Humidity</div>
            </div>
            <div class="row" >
                <div class="col-md-3 bg-warning">Meter</div>
                <div class="col-md-3 bg-warning">electricity</div>
                <div class="col-md-3 bg-warning">gas</div>
                <div class="col-md-3 bg-warning">water</div>
            </div>
            <div class="row">
                <div class="col-md-3 bg-danger">Boiler</div>
                <div class="col-md-3 bg-danger">isRun</div>
                <div class="col-md-3 bg-danger">temperature</div>
                <div class="col-md-3 bg-danger">pressure</div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}
{% endblock %}