{% extends 'base.html' %}
{% block body %}
    {% include 'header.html' %}

    <main class="container">
        <div class="bg-light p-5 rounded mt-3">
            <h1>Meter</h1>
            <p class="lead">indicator data......</p>
{#            <a class="btn btn-lg btn-primary"#}
{#               href="https://ru.wikipedia.org/wiki/%D0%A1%D1%87%D1%91%D1%82%D1%87%D0%B8%D0%BA" role="button">View docs#}
{#                »</a>#}
        </div>
    </main>


    {% include 'footer.html' %}
{% endblock %}